.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-image: linear-gradient(
    to bottom,
    var(--main-color),
    var(--second-color)
  );
  margin-bottom: 3rem;
}

.navigation {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}
.navbar-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-item {
  margin-right: 1.5rem;
  position: relative;
}
.navbar-item-left:not(:last-child):after {
  content: '';
  position: absolute;
  width: 1px;
  height: 13px;
  background-color: var(--white-color);
  opacity: 0.6;
  right: 0;
  transform: translateX(9px);
  margin-top: 2px;
}
.link-login::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 13px;
  background-color: var(--white-color);
  opacity: 0.6;
  right: 0;
  transform: translateX(9px);
  margin-top: 2px;
}
.navbar-item-right {
  text-transform: capitalize;
}
.download-code {
  width: 200px;
  background-color: var(--white-color);
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 20px;
  z-index: 9;
}
.app-list {
  margin-left: 1rem;
}
.app {
  width: 80px;
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 5px;
}
.download-code::before {
  content: '';
  position: absolute;
  top: -5%;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: transparent;
}
.download-app:hover .download-code {
  visibility: visible;
  opacity: 1;
}
.navbar-link,
.link-text {
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--white-color);
}
.navbar-link:hover {
  opacity: 0.6;
}
.navbar-icon-right:hover {
  opacity: 0.6;
}
.link-text:hover {
  opacity: 1;
}

.navbar-icon-left {
  display: inline-block;
  border-radius: 50%;
}
.navbar-icon {
  font-size: 1.5rem;
  color: var(--white-color);
}
.noti::after {
  content: '';
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 3;
  background-color: transparent;
  width: 100px;
  height: 15px;
}
.noti:hover .noti-box {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: all 0.3s linear;
}
.noti-box {
  position: absolute;
  top: 28px;
  right: 0;
  width: 40rem;
  height: 30rem;
  background-color: var(--white-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  opacity: 0;
  transform: scale(0);
  visibility: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 9;
}
.noti-box::before {
  content: '';
  position: absolute;
  right: 30px;
  top: -5px;
  z-index: 2;
  width: 20px;
  height: 20px;
  background-color: var(--white-color);
  transform: rotate(45deg);
}
.noti-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: auto;
}
.noti-image {
  width: 100px;
  height: 100px;
}
.noti-text {
  display: block;
  color: #333;
  text-transform: lowercase;
}
.noti-text::first-letter {
  text-transform: uppercase;
}
.noti-text span {
  text-transform: capitalize;
}
.log-box {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 8rem;
}
.btn {
  border: 0;
  padding: 10px 20px;
  width: 50%;
  text-align: center;
  background-color: #f5f5f5;
  font-size: 1.5rem;
  text-transform: capitalize;
  /* height: 50px; */
}
.btn:hover {
  color: var(--main-color);
  background-color: #eee;
}
.header-main {
  width: 100%;
  display: flex;
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.shopee-logo {
  display: block;
  width: 150px;
  height: 50px;
  fill: var(--white-color);
}
.header-logo {
  margin-right: 5rem;
}
.header-search {
  margin-right: 6rem;
  width: 70%;
}
.header-cart {
  flex: 1;
  position: relative;
}
.header-cart::after {
  content: '';
  position: absolute;
  width: 20rem;
  height: 30px;
  background-color: transparent;
  bottom: 0;
  right: 70%;
  z-index: 10;
}
.noti-cart {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
  transform: scale(0);
  width: 40rem;
  height: 30rem;
  background-color: var(--white-color);
  right: 70%;
  top: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.noti-cart::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: #fff;
  z-index: 5;
  transform: rotate(45deg) translateX(-50%);
}
.noti-cart-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cart-image {
  width: 100px;
  height: 100px;
  margin-bottom: 3rem;
}
.cart-text {
  display: block;
  color: #333;
  text-transform: capitalize;
}
.header-cart:hover .noti-cart {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.cart-link {
  display: block;
  margin-top: 2.5rem;
}
.cart-icon {
  color: var(--white-color);
  font-size: 2rem;
}
.search-bar {
  display: flex;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  margin-bottom: 3px;
}
.search-input {
  font-size: 1.4rem;
  width: 100%;
  border: 0;
  padding: 13px;
  background-color: var(--white-color);
}
.btn-search {
  padding: 8px 20px;
  border: 0;
  background-color: var(--second-color);
  position: absolute;
  top: 4px;
  right: 4px;
  border-radius: inherit;
}
.search-icon {
  color: var(--white-color);
  font-size: 1.7rem;
}
.key-search {
  display: flex;
}
.key-item {
  margin-right: 1.5rem;
}
.key-link {
  color: var(--white-color);
  font-size: 1.3rem;
  text-transform: capitalize;
  opacity: 0.9;
}
.user-icon {
  display: none;
}
.background {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .navigation,
  .header-logo,
  .key-search,
  .noti-cart {
    display: none;
  }
  .header {
    position: unset;
    margin-bottom: unset;
    background-image: linear-gradient(
      to bottom,
      var(--blue-color),
      var(--light-blue)
    );
  }
  .header-cart {
    flex: unset;
  }
  .cart-link {
    margin-top: unset;
  }
  .header-search {
    margin-right: unset;
    width: 80%;
  }
  .user-icon {
    display: block;
    color: white;
    font-size: 2rem;
  }
  .header-main {
    justify-content: space-between;
    align-items: center;
    margin-top: unset;
    padding: 1rem 2rem;
  }
  .btn-search {
    background-color: transparent;
    left: 0;
    padding: 8px 10px;
  }

  .search-icon {
    color: #bebebe;
  }
  .search-input {
    padding-left: 3.5rem;
  }
  .background {
    display: block;
  }
}
